mig-me {
  font-family: sans-serif;
}

mig-button {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

mig-panel {
  background-color: white;
  display: inline-block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px;
}
