$mantis = #3cb9a0

h1
  text-align center
  font-size 0
  margin 30px 0

  svg
    midth 150px
    max-width 50%

nav
  text-align center

  mig-login
    background-color $mantis
    display block
    width 200px
    max-width calc(100% - 20px)
    margin 20px auto

    &:active
      background-color darken($mantis, 20%)
