$mantis = #3cb9a0

section
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content space-between
  align-items stretch
  height 100%

header
  flex none
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  align-items stretch
  width 100%
  background-color $mantis

h1
  margin 0
  min-height 50px
  font-size 24px
  font-weight normal
  color white
  display flex
  flex-direction column
  justify-content center

.title
  margin-left 10px
  overflow hidden
  text-overflow ellipsis

button
  flex none
  height 50px
  width 50px
  padding 15px
  background-color $mantis
  border-style none
  font-size 0
  cursor pointer

  &:focus
    outline none
  &:active
    background-color darken($mantis, 20%)

  svg
    path
      fill white

article
  flex-grow 1
  flex-shrink 1
  flex-basis auto
