$mantis = #3cb9a0
$carrotOrange = #ec932b

header
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content center
  align-items center
  height 200px
  text-align center

  svg
    width 50%
    g
      transform-origin center
      animation-duration 1s
      animation-iteration-count infinite
      animation-name spin
      fill $carrotOrange

@keyframes spin
  to
    transform rotate(1turn)

@keyframes fadeOut
  to
    transform scale(0)
    opacity 0

article
  display flex

  iframe
    background-color transparent
    border-style none
    width 100%
    height 200px

button
  display block
  width 200px
  max-width calc(100% - 20px)
  margin 20px auto
  cursor pointer
  padding 10px 20px
  border-style none
  background-color $mantis
  color white
  font-size 16px

  &:focus
    outline none
  &:active
    background-color darken($mantis, 20%)
