style.
  button { display: block; background-color: red; }
button#login_iframe
  | Show "Log In" dialog as IFRAME
button#login_popup
  | Show "Log In" dialog as POPUP
button#login_redirect
  | Show "Log In" dialog as REDIRECT
